* {
  margin: 0;
  padding: 0;
  /* aplicar o padding sem mexer no widht dos elementos */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  /* mudando a fonte do corpo */
  font-family: 'poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'kanit', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  /* a imagem fica em 100% da caixa que ela estiver dentro */
  object-fit: cover;
  /* posição no centro  */
  object-position: center;
}

p {
  color: #8a8a8a;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 16px;
}

/* detalhe roxo em cima dos h2 */
h2::before {
  /* precisa do content assim */
  content: '';
  width: 50px;
  height: 5px;
  /* o gradiente */
  background: linear-gradient(45deg, #7a60ff, #cd9ffa);
  /* fazer ele aparecer */
  display: block;
  margin: 0 auto 20px;
}

/* CLASSES GERAIS */
.container {
  width: 98%;
  /* nunca vai pode passar de 1200, vai ser o maximo */
  max-width: 1200px;
  /* altura automatica */
  height: auto;
  /* centralizar na tela */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.degrade,
.fixed-scroll #logo a {
  /* PARA AS LETRAS/PALAVRAS */
  /* o gradiente */
  background: linear-gradient(45deg, #7a60ff, #cd9ffa);
  /* recortar e deixar apenas nas letras */
  background-clip: text;
  /* segunda maneira pois em alguns navegadores pode bugar */
  -webkit-background-clip: text;
  /* cor de preenchimento do texto, deixar transparente */
  -webkit-text-fill-color: transparent;
}

.fixed-scroll {
  background-color: #ffffff;
  box-shadow: 0 0 10px #8a8a8a;
}

.fixed-scroll .menu-hamburguer,
.fixed-scroll .menu-hamburguer::after,
.fixed-scroll .menu-hamburguer::before {
  background: linear-gradient(45deg, #7a60ff, #cd9ffa);
}

/* CABEÇALHO */
#topo {
  /* ocupa todo o tamanho */
  width: 100%;
  /* espaçar mais em cima */
  padding: 10px;
  /* fazer o banner passar por tras dos menus */
  position: fixed;
  /* deixar ele na frente de tudo */
  z-index: 99;
}

#logo a {
  font-family: 'kanit', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #fff;
}



.btnmenu {
  width: 45px;
  height: 45px;
  /* SO PRA VER ONDE ESTÁ O ELEMENTO */
  /* background-color: #f00; */
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* COLOCAR O MENU NA FRENTE QUANDO APERTAR NELE */
  z-index: 1;
}

.menu-hamburguer {
  width: 35px;
  height: 5px;
  background: rgb(255, 255, 255);
  position: relative;
}

/* ANTES E DEPOIS, SEMPRE VAI O CONTENT DENTRO */
.menu-hamburguer::after,
.menu-hamburguer::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.menu-hamburguer::after {
  bottom: 10px;
}

.menu-hamburguer::before {
  top: 10px;
}

#navegacao {
  background: linear-gradient(45deg, #7a60ff, #cd9ffa);
  position: fixed;
  width: 100%;
  /* ENCOSTAR EM CIMA */
  top: 0;
  /* ENCOSTAR NA ESQUERDA */
  right: 0;
  /* GARANTIR QUE ELE VAI OCUPAR 100% DA ALTURA DA TELA DO DISPOSITIVO QUE ESTÁ SENDO ACESSADO */
  height: 100dvh;
  /* CENTRALIZAR OS ITENS NO MEIO DA TELA */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* DEIXAR OCULTA */
  transform: translateX(100%);
  /* NAO DEIXAR CLICAR NO ELEMENTO ENQUANTO ELE ESTIVER OCULTO */
  pointer-events: none;
  /* SUAVISAR A TRANSIÇÃO DELE APARECER, O PONTO E PORQUE E 5ms*/
  transition: all .5s;
}

#navegacao.open {
  /* VOLTAR A TELA */
  transform: translateX(0);
  pointer-events: all;
}

.linkmenu {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}



#topo nav {
  display: flex;
  /* jogar o menu para o lado direito */
  justify-content: space-between;
  /* colocar na mesma linha */
  align-items: center;
  width: 100%;
}

#topo .container {
  position: relative;
}


/* BANNER */

#banner {
  /* a cor para criar o efeito de sobreposição */
  /* center centraliza na horizontal */
  /* chama background que da para chamar varias propriedades de uma vez */
  /* url chama imagem */
  background: #333 url(../../assets/img/banner.jpg) center;
  /* imagem preencher o elemento completamente */
  background-size: cover;
  /* mesclar cor e imagem */
  background-blend-mode: overlay;
  padding: 150px 0 60px;
  text-align: center;
}

#banner h1 {
  /* color: #fff; COMENTEI POR CAUSA DO GRADIENTE/DEGRADE */
  text-transform: uppercase;
  font-size: 35px;
  /* ajustar o espaçamento da linha da frase, ideal usar do tmanho da fonte  */
  line-height: 35px;
  /* dar o espaçamento, pro botão de baixo não ficar muito colado */
  margin-bottom: 30px;
}

.btn {
  /* EM UMA IMAGEM */
  /* deixar meio que um degrade nas cores */
  /* deg controla o angulo que seu gradient começa */
  background: linear-gradient(45deg, #7a60ff, #cd9ffa);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  /* o tamanho depende do conteudo que tem dentro do botão */
  width: fit-content;
  /* espaçamento para não fcar muito colado */
  padding: 10px 20px;
  border-radius: 8px;
  /* centralizar o botão */
  margin: 0 auto;
  /* Obedecer o tamanho da div que ele esta */
  display: block;
}


/* SOBRE */

#sobre {
  /* das espaçamento entre seções */
  padding: 50px 0;
  text-align: center;
}

.info-box,
.imagem-box {
  margin-top: 40px;
}

.icone {
  font-size: 40px;
}

.info-box h4 {
  font-size: 20px;
}

/* sombra na imagem */
.imagem-box img {
  box-shadow: 10px 10px 0 #cd9ffa;
}




/* SERVIÇOS */

#servicos {
  padding: 50px 0;
  text-align: center;
  background: #f2f2f2;
}


#servicos .btn {
  margin-top: 20px;
}

.servico-card {
  display: block;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  margin-top: 40px;
  padding: 50px 20px;
  position: relative;
}

/* Detalhe no primeiro card */
.servico-card:first-child::before {
  content: '';
  width: 50%;
  height: 50%;
  border-top: 10px solid #7a60ff;
  border-left: 10px solid #7a60ff;
  position: absolute;
  top: -10px;
  left: -10px;
}

/* Detalhe no ultimo card */
.servico-card:last-child::after {
  content: '';
  width: 50%;
  height: 50%;
  border-bottom: 10px solid #7a60ff;
  border-right: 10px solid #7a60ff;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.servico-card i {
  font-size: 40px;
}

.servico-card h3 {
  color: #000;
  font-size: 22px;
  padding-top: 10px;

}


.btn-icon i {
  font-size: 16px;
}


/* circulo em volta da setinha */
.btn-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8a8a8a;
  color: #8a8a8a;
  margin: 15px auto 0;
  border-radius: 50%;
}


/* INSTITUCIONAL */

#institucional .imagem-box img
{
  box-shadow: -10px 10px 0 #cd9ffa;
}


#institucional h2
{
  margin-top: 15px;
}

#institucional .container
{
  text-align: center;
  margin-bottom: 20px;
}


/* NOSSA EQUIPE */

#Equipe
{
  text-align: center;
  background-color: #f2f2f2;
}


#Equipe h2
{
  margin-top: 45px;
}


.divimgmembro
{
  width: 200px;
  height: 200px ;
  margin: 0 auto;
}


#Equipe .servico-card 
{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

#Equipe img
{
  width: 200px;
  height: 200px;
  border-radius: 99px;
}

.especmembro
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#Equipe span
{
  width: 100%;
  color: #000;
  border: 2px solid #000;
  border-radius: 50px;
}


#Equipe ul
{
  display: flex;
  gap: 10px;
}

#Equipe li
{
  box-shadow: 0 0 10px #ccc;
}

#Equipe i 
{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center ;
  align-items: center;
  font-size: 24px;
}

.lstredes
{
  padding-top: 15px;
}


.lstredes
{
  display: flex;
  justify-content: space-around;
}






















/* tem que ficar no final */
/* com esse tamanho ele ignora os outros comandos css, e passa a obedecer o que esta nas chaves */
/* MEDIA QUERIES */
@media (min-width: 768px) {

  /* Cabeçalho */
  .btnmenu {
    display: none;
  }

  #navegacao {
    transform: initial;
    height: initial;
    width: initial;
    background: transparent;
    flex-direction: row;
    position: initial;
  }

  .linkmenu {
    font-size: 16px;
  }

  /* BANNER */
  #banner h1 {
    font-size: 75px;
    /* espaçamento entre a linha da frase */
    line-height: 75px;
  }

  .fixed-scroll .linkmenu:hover {
    color: #7a60ff;
  }

  .fixed-scroll .linkmenu {
    color: #333;
  }

  /* SERVIÇOS */
  .servico-card
  {
    width: 48%;
  }

  .cards
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  /* INSTITUCIONAL */

  #institucional
  {
    text-align: center;
  }















}



@media (min-width: 1200px) {

  /* BANNER */
  #banner h1 {
    font-size: 96px;
    /* espaçamento entre a linha da frase */
    line-height: 96px;
  }

  /* detalhe roxo em cima dos h2 */
  h2::before {
    /* precisa do content assim */
    content: '';
    width: 50px;
    height: 5px;
    /* o gradiente */
    background: linear-gradient(45deg, #7a60ff, #cd9ffa);
    /* fazer ele aparecer */
    display: block;
    margin: 0 0 20px 0;
  }

  #sobre .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .imagem-box {
    width: 48%;
    height: 100%;
    height: auto;
    margin: 0;
  }

  .texto-box {
    width: 48%;
    height: 100%;
    text-align: left;
  }

  .info-box {
    display: flex;
    gap: 15px;
  }

  /* SERVIÇOS */
  #servicos
  {
    text-align: left;
  }

  .cabecalho
  {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .servico-card
  {
    width: 31%;
  }

  #servicos .servico-card:hover
  {
     transition: transform 0.3s ease-in-out; 
     transform: scale(1.1); 
     background: linear-gradient(45deg, #7a60ff, #cd9ffa);
     color: #fff;
  }


   #servicos.servico-card:hover p, #servicos .servico-card:hover h3, #servicos .servico-card:hover .btn-icon
  {
    color: #fff;
    border-color: #fff;
  }
  
 /* INSTITUCIONAL */
  #institucional .container
  {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 50px;
  }

  /* NOSSA EQUIPE */

  #Equipe .cabecalho
  {
    text-align: left;
  }
  

}