@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*
{
     /* remover a margem que tem no html puro */
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body
{
    /* cor do fundo  */
    background-color: #F4F0EA;
    /* cor das palavras  */
    color: #798252;
    /* mudando a fonte  */
    font-family: "Google Sans",sans-serif;
    /* peso da fonte  */
    font-weight: 400;
}

header
{
    /* criando uma borda */
    padding: 2rem;
    /* mudando a cor do fundo do header  */
    background-color: #331f19;
    /* denxando centralizado */
    text-align: center;
    
}

