@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    /* remover a margem que tem no html puro */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* cor do fundo  */
    background-color: #F4F0EA;
    /* cor das palavras  */
    color: #798252;
    /* mudando a fonte  */
    font-family: "Google Sans", sans-serif;
    /* peso da fonte  */
    font-weight: 400;
}

header {
    /* criando uma borda */
    padding: 2rem;
    /* mudando a cor do fundo do header  */
    background-color: #331f19;
    /* denxando centralizado */
    text-align: center;

}

main {
    padding: 2rem;
    /* flex box  */
    display: flex;
    /* alinhando em colunas  */
    flex-direction: column;
    /* dando espaço entre as perguntas */
    gap: 1.5rem;
}

section {
    /* flex box */
    display: flex;
    /* alinhando em colunas */
    flex-direction: column;
    /* espaçamento  */
    gap: 1rem;

}

h2 {
    /* cor das palavras */
    color: #331f19;
    /* tamanho da fonte  */
    font-size: 1.2rem;
}

/* muda os input do tipo radio e checkbox */
input[type="radio"],
input[type="checkbox"] {
    /* mudar a cor dos rd */
    accent-color: #ccd595;
}

/* tipo texto agora */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    /* largura */
    width: 100%;
    padding: 0.6rem;
    /* borda */
    border: 2px solid #ccd595;
    /* tirando o outline */
    outline: none;
    /* arredondando a borda  */
    border-radius: 5px;
    /* fundo da text */
    background-color: transparent;
}

/* mudando o place holder */
input::placeholder {
    /* cor  */
    color: #cbbba7;
}

select {
    /* mudar o tipo do cursor */
    cursor: pointer;
    /* cor do fundo */
    background-color: #ccd595;
    /* cor das palavras */
    color: #331f19;
    /* arredondar borda */
    border-radius: 5px;
    /* removendo a borda */
    border: none;
    outline: none;
}

/* estilizando imagem */
img {
    /* largura */
    width: 5rem;
    /* arredondar borda */
    border-radius: 5px;
}

/* estilizando a tabela */
table {
    /* ocupar todo espaço disponivel  */
    width: 100%;
    /* borda normal */
    border-collapse: collapse;
}

th {
    /* cor do fundo  */
    background-color: #ccd595;
    /* cor das palavras  */
    color: #331f19;
    /* espaçamento */
    padding: 1rem;
}

td {
    /* cor do texto  */
    color: #331f19;
    /* espaçamento */
    padding: 1rem;
    /* alinhar o texto no centro */
    text-align: center;

}

tfoot td
{
    /* cor do fundo */
    background-color: #331f19;
    /* cor do texto  */
    color: #F4F0EA;
    
}

details
{
    /* cor do fundo  */
    background-color: #ccd595;
    /* arredondar borda  */
    border-radius: 5px;
    /* espaçamento  */
    padding: 1rem;
}

summary
{
    /* cor do texto  */
    color: #331f19;
    /* margem  */
    margin: 0.5rem;
    /* tipo do cursor  */
    cursor: pointer;
}

ol
{
    /* margem para a esquerda  */
    margin-left: 1.5rem;
}

ol li
{
    /* espaçamento  */
    padding: 0.2rem;
}

fieldset
{
    /* borda */
    border: 2px solid #ccd595;
    /* arredondando a aborda */
    border-radius: 5px;
    /* espaçamento  */
    padding: 1rem;
}

legend
{
    /* cor do texto  */
    color: #331f19;
    /* espaçamento  */
    padding: 0 0.5rem;
}

textarea
{
    /* tirar a linha azul  */
    outline: none;
    /* arrendondar borda  */
    border-radius: 5px;
    /* borda */
    border: 2px solid #ccd595;
    /* cor do fundo transparente */
    background-color: transparent;
}

